<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/about.css')}}">
</head>
<body>

    <div class="container">
        <h1>News tracker application</h1>
        <p>
            News tracker application  is the study of daily news and tracking of news daily, how the application  uses every day, 
            and the relationship between tracking news, daily update, and current news. Through this application it is easier to know about current news
             
        </p>
    </div>
    
</body>
</html>
