<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
</head>
<body>

    <div class="nav">
        <div class="subnav">
            
        </div>
        <div class="subnav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="{{url_for('signin')}}">Sign in</a></li>
                <li><a href="{{url_for('signup')}}">Sign up</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="subcontainer">
            
        </div>
        <div class="subcontainer">
            <p>
               The main focus of this application is to connect news articles from all around the world and deliver it to user as fast as possible in best visualize way
            </p>
        </div>
    </div>
    
</body>
</html>
